<header class="site-header">
  <div class="wrap header-top">
    <div class="brand">{{#if @site.logo}}<a href="{{@site.url}}"><img
            src="{{@site.logo}}"
            alt="{{@site.title}}"
            height="36"
          /></a>{{else}}<a href="{{@site.url}}">{{@site.title}}</a>{{/if}}</div>
    <nav class="site-nav" aria-label="Primary">
      {{navigation}}
    </nav>
    <div class="actions">
      {{#if @site.members_enabled}}
        {{#unless @member}}
          <a
            class="sub-btn"
            href="#/portal/signup"
            data-open-portal
          >Subscribe</a>
          <a
            class="signin-link"
            href="#/portal/signin"
            data-open-portal
            style="margin-left:.5rem;"
          >Sign in</a>
        {{else}}
          <a class="sub-btn" href="#/portal/account">Account</a>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</header>
<div class="wrap header-bottom">
  <nav class="tag-nav" aria-label="Tags">
    {{#get "tags" limit="all" order="name asc"}}
      {{#foreach tags}}
        <a href="{{url}}">#{{name}}</a>
      {{/foreach}}
    {{/get}}
  </nav>
</div>