{{!< default}}

<section class="error-page" aria-labelledby="error-heading">
  <h1 id="error-heading">
    <span class="code">{{#if
        error
      }}{{error.statusCode}}{{else}}{{statusCode}}{{/if}}</span>
    Something went wrong
  </h1>
  {{#if message}}
    <p class="message">{{message}}</p>
  {{else}}
    <p class="message">An unexpected error occurred. Please try again.</p>
  {{/if}}
  <div class="actions">
    <a class="sub-btn" href="{{@site.url}}">Go home</a>
  </div>
  <p class="hint subtle">Error
    {{#if error}}{{error.statusCode}}{{else}}{{statusCode}}{{/if}}</p>
</section>