<li class="{{post_class}}" data-tags="{{#if tags}}{{#foreach tags}}{{slug}}{{#unless @last}},{{/unless}}{{/foreach}}{{/if}}">
  <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>
  <a class="item-link" href="{{url}}">{{title}}</a>{{#if featured}} <span class="star" aria-label="Featured" title="Featured">★</span>{{/if}}
  {{#if tags}}
    <div class="tags"># {{tags separator=" # " autolink="true"}}</div>
  {{/if}}
</li>


