<header>
  <h1 class="post-title">{{title}}</h1>
  {{#if featured}}<span
      class="badge badge-featured"
      aria-label="Featured"
      title="Featured"
    >Featured</span>{{/if}}
  <div class="post-meta">
    <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
    <span class="reading">{{reading_time}}</span>
    {{#if tags}}
      <span class="tags"># {{tags separator=" # " autolink="true"}}</span>
    {{/if}}
    {{#primary_author}}
      <div class="post-author">
        {{#if profile_image}}
          <img
            class="post-author__avatar"
            src="{{img_url profile_image size="s"}}"
            alt="{{name}}"
            width="28"
            height="28"
          />
        {{/if}}
        <a class="post-author__name" href="{{url}}">{{name}}</a>
      </div>
    {{/primary_author}}
  </div>
</header>