<nav class="post-nav">
  <div class="prev">
    {{#prev_post}}
      <a href="{{url}}" rel="prev" aria-label="Previous post: {{title}}">←
        {{title}}</a>
    {{/prev_post}}
  </div>
  <div class="next">
    {{#next_post}}
      <a href="{{url}}" rel="next" aria-label="Next post: {{title}}">{{title}}
        →</a>
    {{/next_post}}
  </div>
</nav>