<ul class="social social-icons" aria-label="Social profiles">
  {{#if website}}
    <li>
      <a
        class="icon"
        href="{{website}}"
        target="_blank"
        rel="noopener me"
        aria-label="Website"
      >
        <iconify-icon
          icon="mdi:web"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Website</span>
      </a>
    </li>
  {{/if}}

  {{#if twitter}}
    <li>
      <a
        class="icon"
        href="{{social_url type="twitter"}}"
        target="_blank"
        rel="noopener me"
        aria-label="Twitter"
      >
        <iconify-icon
          icon="simple-icons:x"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
  {{/if}}
  {{#if facebook}}
    <li>
      <a
        class="icon"
        href="{{social_url type="facebook"}}"
        target="_blank"
        rel="noopener me"
        aria-label="Facebook"
      >
        <iconify-icon
          icon="simple-icons:facebook"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
  {{/if}}
  {{#if linkedin}}
    <li>
      <a
        class="icon"
        href="{{social_url type="linkedin"}}"
        target="_blank"
        rel="noopener me"
        aria-label="LinkedIn"
      >
        <iconify-icon
          icon="simple-icons:linkedin"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
  {{/if}}
  {{#if bluesky}}
    <li>
      <a
        class="icon"
        href="{{social_url type="bluesky"}}"
        target="_blank"
        rel="noopener me"
        aria-label="Bluesky"
      >
        <iconify-icon
          icon="simple-icons:bluesky"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Bluesky</span>
      </a>
    </li>
  {{/if}}
  {{#if threads}}
    <li>
      <a
        class="icon"
        href="{{social_url type="threads"}}"
        target="_blank"
        rel="noopener me"
        aria-label="Threads"
      >
        <iconify-icon
          icon="simple-icons:threads"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Threads</span>
      </a>
    </li>
  {{/if}}
  {{#if mastodon}}
    <li>
      <a
        class="icon"
        href="{{social_url type="mastodon"}}"
        target="_blank"
        rel="me"
        aria-label="Mastodon"
      >
        <iconify-icon
          icon="simple-icons:mastodon"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Mastodon</span>
      </a>
    </li>
  {{/if}}
  {{#if tiktok}}
    <li>
      <a
        class="icon"
        href="{{social_url type="tiktok"}}"
        target="_blank"
        rel="noopener me"
        aria-label="TikTok"
      >
        <iconify-icon
          icon="simple-icons:tiktok"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">TikTok</span>
      </a>
    </li>
  {{/if}}
  {{#if youtube}}
    <li>
      <a
        class="icon"
        href="{{social_url type="youtube"}}"
        target="_blank"
        rel="noopener me"
        aria-label="YouTube"
      >
        <iconify-icon
          icon="simple-icons:youtube"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">YouTube</span>
      </a>
    </li>
  {{/if}}
  {{#if instagram}}
    <li>
      <a
        class="icon"
        href="{{social_url type="instagram"}}"
        target="_blank"
        rel="noopener me"
        aria-label="Instagram"
      >
        <iconify-icon
          icon="simple-icons:instagram"
          width="16"
          height="16"
          aria-hidden="true"
        ></iconify-icon>
        <span class="sr-only">Instagram</span>
      </a>
    </li>
  {{/if}}
</ul>